
/* Header Styles */
header {
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #ccc;
  }
  
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .paragraph {
    margin-bottom: 40px;
    background-color: #fff; /* White background for the paragraph box */
    border: 1px solid #ccc; /* Border around each paragraph */
    padding: 20px; /* Padding within each paragraph */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  }
  
  .paragraph img {
    display: block;
    width: 100%; /* Set width to 100% to ensure the image fills its container */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto; /* Center the image horizontally */
    margin-bottom: 10px;
    border: 1px solid #ddd; /* Border around images */
    max-width: 100%; /* Ensure the image doesn't exceed its container */
  }
  
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  