<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paragraphs with Pictures</title>
  <link rel="stylesheet" href="static/assets/css/pet.css">
</head>
<header>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/signup">SignUp</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>
  </header>
<body>

    <div class="container">
        <div class="paragraph">
          <img src="static/assets/img/Pets/1.jpg" alt="Picture 1">
          <p>Peanut
              Pug
              Found as a stray puppy, Peanut is now a cheerful and loving dog. Vaccinated and spayed. Enjoys napping and snuggling under blankets.</p>
        </div>
        <div class="paragraph">
          <img src="static/assets/img/Pets/2.jpg" alt="Picture 2">
          <p>Cooper
              Australian shepherd 
              Rescued from a neglectful home, Cooper is now thriving and looking for an active family. Obedience trained and good with other pets. Enjoys agility training and long walks</p>
        </div>
      
        <div class="paragraph">
          <img src="static/assets/img/Pets/3.jpg" alt="Picture 3">
          <p>Oscar
              Cockatiel
              Hand-raised from birth, Oscar is a friendly and vocal bird. Wings clipped for safety. Enjoys whistling tunes and mimicking sounds</p>
        </div>
        <div class="paragraph">
          <img src="static/assets/img/Pets/4.jpg" alt="Picture 4">
          <p>Luna 
              Persian cat
              Surrendered due to allergies, Luna is a gentle and quiet companion. Spayed and well-behaved. Enjoys lounging around and being brushed.</p>
        </div>
        <div class="paragraph">
          <img src="static/assets/img/Pets/8.jpg" alt="Picture 5">
          <p>Ruby 
              Border Collie
              Found as a stray, Ruby is now a healthy and playful dog. Vaccinated and microchipped. Thrives with mental stimulation and enjoys learning new tricks</p>
        </div>
        <div class="paragraph">
          <img src="static/assets/img/Pets/5.jpg" alt="Picture 6">
          <p>Milo
              Siamese Cat
              Born in the shelter, Milo is a charming and talkative cat looking for a calm home. Neutered and litter-trained. Enjoys sunbathing and interactive toys</p>
        </div>
        <div class="paragraph">
          <img src="static/assets/img/Pets/6.jpg" alt="Picture 7">
          <p>Bailey
              Labrador Retriever
              Rescued from a local shelter, Bailey is a lively and affectionate companion. Fully vaccinated and ready for a forever home. Enjoys playing fetch and cuddling up on the couch</p>
        </div>
        <div class="paragraph">
          <img src="static/assets/img/Pets/7.jpg" alt="Picture 8">
          <p>Penny
              Golden retriver Dog
              Found and collect wounded at the streets.
              Fully healed and vaccinatied looking for family.
              Touchy, loves to play, low sound suitable for apartment livings, and minimum need for taking a walk.</p>
        </div>
</div>

</body>
</html>
